
  <form action="/search/{{ user_id }}" method="post">
    <input type="hidden" name="user_id" value="{{ user_id }}">
     <div class="input-field">
       <input type="text" id="searchName" name="searchName" placeholder="Search Users">
     </div>
  </form>
