<!DOCTYPE html>
<html>
  <head>
    <script src="/../js/jquery-3.2.0.js"></script>
    <script src="/../js/materialize.js"></script>
    <script src="/../js/scripts.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/../css/materialize.css" type="text/css" rel="stylesheet">
    <link href="/../css/style2.css" type="text/css" rel="stylesheet">

    <title>everydone, the social to-do app</title>
  </head>
  <main>
  <body>
<div class="container">
